{% extends "_base.html" %}

{% block content %}
    <div class="service-area-2 space">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-style3" style="align-content: center; padding-top: 20%;">
                        <h1 class="hero-title" style="text-align: center;">Error: Page Not Found (404)</h1>
                        <h3 class="page-title mt-40 mb-20" style="text-align: center;">Please go back to <a href="{{ url_for('main.index') }}">Home</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}